<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-attendance-class-picker`
@demo demo/campus-attendance-class-picker.html
-->
<dom-module id="campus-attendance-class-picker">
    <style>
    :host {
        display: block;
        position: relative;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    
    :host paper-dropdown-menu paper-menu {
        --paper-menu: {
            padding: 0;
            min-width: 100px;
            max-height: 320px;
        }
    }
    
    :host paper-dropdown-menu /deep/ iron-icon {
        color: var(--paper-input-container-color);
    }
    </style>
    <template>
        <paper-dropdown-menu label="[[translate._01]]" style="width:100%">
            <paper-menu class="dropdown-content" selected="[[selected]]" attr-for-selected="value">
                <template is="dom-repeat" items="[[items]]">
                    <paper-item target="[[item]]" value="[[item.ClassName]]" on-tap="_selectItem">[[item.ClassName]]</paper-item>
                </template>
            </paper-menu>
        </paper-dropdown-menu>
    </template>
    <script>
    Polymer({
        is: "campus-attendance-class-picker",

        properties: {
            selected: {
                type: String
            }
        },

        behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

        ready: function() {
            this.initTranslate({
                'default': 'zh-tw',
                'zh-tw': {
                    '_01': '班級'
                },
                'zh-cn': {
                    '_01': '班级'
                },
                'en-us': {
                    '_01': 'Class'
                }
            });

            this._getItems();
        },

        /*
         * 重新整理清單
         */
        reload: function() {
            this._getItems();
        },

        _getItems: function() {
            var request = {
                contract: 'ta',
                service: 'TeacherAccess.GetMyClasses',
                body: '<Request><Field><ClassID/><ClassName/><GradeYear/></Field><Order><GradeYear/><ClassName/></Order></Request>'
            };

            this.generateRequest(request, function(response) {
                if (response && response.ClassList) {
                    var items = [].concat(response.ClassList.Class || []);
                    this.set('items', items);
                } else
                    this.set('items', []);

                if (this.items.length > 0) {
                    this.fire('changed', {
                        id: this.items[0].$.ClassID,
                        label: this.items[0].ClassName,
                        target: this.items[0]
                    });

                    this.set('selected', this.items[0].ClassName);
                }
            }.bind(this));
        },

        _selectItem: function(e) {
            var node = e.target;
            while (node.nodeName !== 'PAPER-ITEM') {
                node = node.parentNode;
            }

            if (node) this.fire('changed', {
                id: node.target.$.ClassID,
                label: node.target.ClassName,
                target: node.target
            });
        }
    });

    /*
     * 每當清單中的選項被選取時，將觸發此事件
     * @event changed
     */
    </script>
</dom-module>
