<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-item/paper-item-body.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../paper-date-picker/paper-date-picker.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<link rel="import" href="campus-attendance-class-picker.html">
<!--
`campus-attendance-for-teacher`
@demo demo/campus-attendance-for-teacher.html
-->
<dom-module id="campus-attendance-for-teacher">
    <style include="iron-flex iron-flex-alignment"></style>
    <style include="paper-date-picker-dialog-style"></style>
    <style>
    :host {
        display: block;
        position: relative;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        background: #f2f2f2;
        height: 100%;
    }
    
    :host .paper-header paper-input,
    :host paper-toolbar paper-input,
    :host campus-attendance-class-picker {
        --paper-input-container-color: #eee;
        --paper-input-container-focus-color: #fff;
        --paper-input-container-input-color: #fff;
    }
    
    :host paper-toolbar paper-icon-button {
        --paper-icon-button: {
            color: #fff;
        }
    }
    
    :host paper-item {
        color: var(--secondary-text-color);
    }
    
    :host paper-item:hover {
        background-color: rgba(0, 0, 0, .037);
        cursor: pointer;
    }
    
    :host .ellipsis-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    :host .secondary-text-color {
        color: var(--secondary-text-color);
    }
    
    :host table {
        border-spacing: 0;
        border-collapse: collapse;
        width: 100%;
    }
    
    :host th {
        background: rgba(0, 0, 0, .087);
    }
    
    :host th,
    :host td {
        border: 1px solid #ccc;
        padding: 5px;
        margin: -1px 0 0 -1px;
        text-align: center;
        width: 40px;
        white-space: nowrap;
    }
    
    :host .paper-header {
        min-height: 64px;
        background-color: var(--primary-color);
        color: #fff;
        padding: 0 16px;
    }
    
    @media (min-width: 769px) {
        :host [main-content] {
            padding: 10px;
        }
        :host [drawer] {
            background: #f2f2f2;
        }
    }
    </style>
    <template>
        <paper-drawer-panel id="drawer" disable-edge-swipe disable-swipe right-drawer>
            <paper-header-panel drawer mode="waterfall">
                <paper-toolbar>
                    <paper-input class="flex-auto" label="[[translate._01]]" no-label-float value="{{filterString::input}}"></paper-input>
                </paper-toolbar>
                <div>
                    <template is="dom-repeat" items="[[items]]" filter="{{_filter(filterString)}}">
                        <paper-item target="[[item]]" on-tap="_selectItem">
                            <paper-item-body two-line>
                                <div class="layout horizontal">
                                    <div class="ellipsis-text flex">[[item.StudentName]]</div>
                                    <div>[[item.SeatNumber]]</div>
                                </div>
                                <div class="layout horizontal center wrap" secondary>
                                    <template is="dom-repeat" items="[[item.absence]]">
                                        <div style="margin-right:10px" hidden$="[[!item.value]]">[[item.value]] [[item.key]]</div>
                                    </template>
                                </div>
                            </paper-item-body>
                        </paper-item>
                    </template>
                </div>
            </paper-header-panel>
            <paper-header-panel main mode="waterfall">
                <div class="paper-header layout horizontal center wrap">
                    <paper-input style="flex:1 1 120px;margin-right:10px" label="[[translate._02]]" value="[[startDate]]" readonly on-tap="_showStartDateDialog"></paper-input>
                    <paper-input style="flex:1 1 120px;margin-right:10px" label="[[translate._03]]" value="[[endDate]]" readonly on-tap="_showEndDateDialog"></paper-input>
                    <campus-attendance-class-picker id="classPicker" style="flex:1 1 120px;margin-right:10px"></campus-attendance-class-picker>
                    <paper-icon-button icon="icons:search" on-tap="_search"></paper-icon-button>
                    <div class="flex-auto"></div>
                    <paper-icon-button icon="icons:list" paper-drawer-toggle></paper-icon-button>
                </div>
                <div main-content hidden$="[[hidden_detail]]">
                    <div class="secondary-text-color" style="font-size:24px;padding:12px 16px">[[selected.SeatNumber]] [[selected.StudentName]]</div>
                    <paper-material elevation="1" style="background:#fff;padding:10px">
                        <div style="overflow:auto;width:100%">
                            <table>
                                <thead>
                                    <th style="width:120px">日期</th>
                                    <template is="dom-repeat" items="[[periods]]">
                                        <th>[[item.$.Name]]</th>
                                    </template>
                                </thead>
                                <tbody>
                                    <template is="dom-repeat" items="[[selected.details]]">
                                        <tr>
                                            <td style="white-space:nowrap">[[item.OccurDate]]</td>
                                            <template is="dom-repeat" items="[[item.Periods]]">
                                                <td>[[item.absence]]&nbsp;</td>
                                            </template>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </paper-material>
                </div>
            </paper-header-panel>
        </paper-drawer-panel>
        <paper-dialog modal id="startDateDialog" class="paper-date-picker-dialog" on-iron-overlay-closed="_dismissStartDateDialog">
            <paper-date-picker id="startDatePicker"></paper-date-picker>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>OK</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog modal id="endDateDialog" class="paper-date-picker-dialog" on-iron-overlay-closed="_dismissEndDateDialog">
            <paper-date-picker id="endDatePicker"></paper-date-picker>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>OK</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
    Polymer({
        is: "campus-attendance-for-teacher",

        properties: {
            /*
             * 缺曠紀錄 (zh-tw), 缺旷纪录 (zh-cn), Attendance (en-us)
             */
            title: {
                type: Object,
                readOnly: true
            }
        },

        behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

        ready: function() {
            this._setTitle({
                'zh-tw': '缺曠紀錄',
                'zh-cn': '缺旷纪录',
                'en-us': 'Attendance'
            });

            this.initTranslate({
                'default': 'zh-tw',
                'zh-tw': {
                    '_01': '姓名, 座號',
                    '_02': '開始日期',
                    '_03': '結束日期'
                },
                'zh-cn': {
                    '_01': '姓名, 座号',
                    '_02': '开始日期',
                    '_03': '结束日期'
                },
                'en-us': {
                    '_01': 'Name, Seat No.',
                    '_02': 'Start Date',
                    '_03': 'End Date'
                }
            });

            this.$.classPicker.addEventListener('changed', function(e) {
                e.stopPropagation();

                this.set('clazz', e.detail);
            }.bind(this));

            this.set('hidden_detail', true);

            this.set('startDate', this._dateFormat(new Date(), 'YYYY/MM/DD'));
            this.set('endDate', this._dateFormat(new Date(), 'YYYY/MM/DD'));

            this._getPeriodMappingTable();
            this._getAbsenceMappingTable();
        },

        _getPeriodMappingTable: function() {
            var request = {
                contract: 'ta',
                service: 'TeacherAccess.GetPeriodMappingTable',
                body: '<Content><Field><Content/></Field></Content>'
            };

            this.generateRequest(request, function(response) {
                if (response && response.GetPeriodListResponse) {
                    var items = [].concat(response.GetPeriodListResponse.Period || []);
                    this.set('periods', items);
                } else
                    this.set('periods', []);
            }.bind(this));
        },

        _getAbsenceMappingTable: function() {
            var request = {
                contract: 'ta',
                service: 'TeacherAccess.GetAbsenceMappingTable',
                body: '<Content><Field><All/></Field></Content>'
            };

            this.generateRequest(request, function(response) {
                if (response && response.AbsenceMappingTableResponse) {
                    var items = [].concat(response.AbsenceMappingTableResponse.Absence || []);
                    this.set('absences', items);
                } else
                    this.set('absences', []);
            }.bind(this));
        },

        _filter: function(value) {
            if (!value)
                return null;
            else {
                value = value.toLowerCase();
                return function(item) {
                    return (item.Name.toLowerCase().indexOf(value) !== -1 ||
                        item.SeatNumber.toLowerCase().indexOf(value) !== -1);
                };
            }
        },

        _dateFormat: function(date, format) {
            return moment(date).format(format);
        },

        _showStartDateDialog: function(e) {
            this.$.startDateDialog.toggle();
        },

        _dismissStartDateDialog: function(e) {
            if (e.detail.confirmed)
                this.set('startDate', this._dateFormat(this.$.startDatePicker.date, 'YYYY/MM/DD'));
        },

        _showEndDateDialog: function(e) {
            this.$.endDateDialog.toggle();
        },

        _dismissEndDateDialog: function(e) {
            if (e.detail.confirmed)
                this.set('endDate', this._dateFormat(this.$.endDatePicker.date, 'YYYY/MM/DD'));
        },

        _search: function(e) {
            var request = {
                contract: 'ta',
                service: 'TeacherAccess.GetStudentAttendance',
                body: {
                    Content: {
                        Field: {
                            StudentID: {},
                            StudentName: {},
                            SeatNumber: {},
                            OccurDate: {},
                            Detail: {}
                        },
                        Condition: {
                            StartOccurDate: this.startDate,
                            EndOccurDate: this.endDate,
                            ClassID: this.clazz.id
                        },
                        Order: {
                            SeatNumber: {}
                        }
                    }
                }
            };

            this.generateRequest(request, function(response) {
                if (response && response.StudentAttendances) {
                    var items = [].concat(response.StudentAttendances.Student || []);
                    items.forEach(function(item) {
                        item.absence = [], item.details = [];
                        this.absences.forEach(function(a) {
                            item.absence.push({
                                key: a.$.Name,
                                value: 0
                            });
                        });

                        [].concat(item.DetailList.Detail || []).forEach(function(d) {
                            var periods = [];
                            this.periods.forEach(function(p) {
                                periods.push({
                                    period: p.$.Name,
                                    absence: ''
                                });
                            });

                            [].concat(d.Period || []).forEach(function(p) {
                                periods.forEach(function(i) {
                                    if (i.period === p._)
                                        i.absence = p.$.AbsenceType;
                                });

                                var flag = false;
                                this.periods.forEach(function(i) {
                                    if (i.$.Name === p._) flag = true;
                                });
                                item.absence.forEach(function(a) {
                                    if (a.key === p.$.AbsenceType && flag)
                                        a.value += 1;
                                });
                            }.bind(this));

                            item.details.push({
                                OccurDate: d.$.OccurDate,
                                Periods: periods
                            });
                        }.bind(this));
                    }.bind(this));

                    this.set('items', items);
                    this.$.drawer.openDrawer();
                } else
                    this.set('items', []);
            }.bind(this));
        },

        _selectItem: function(e) {
            var node = e.target;
            while (node.nodeName !== 'PAPER-ITEM') {
                node = node.parentNode;
            }

            this.set('selected', node.target);
            this.set('hidden_detail', false);

            this.$.drawer.closeDrawer();
        },
    });
    </script>
</dom-module>
